In [1]:
import numpy as np
import pandas as pd
from pandas import  DataFrame, Series

In [3]:
# Lets create some data to play with:

# Note: It is not necessary to understand how this dataset was made to understand this Lecture.

#import pandas testing utility
import pandas.util.testing as tm; tm.N = 3

#Create a unpivoted function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    
    # Return the DataFrame
    return DataFrame(data, columns=['date', 'variable', 'value'])

#Set the DataFrame we'll be using
dframe = unpivot(tm.makeTimeDataFrame())

In [14]:
dframe

          date variable     value
0   2000-01-03        A  0.184572
1   2000-01-04        A -1.056366
2   2000-01-05        A -0.786261
3   2000-01-06        A  0.627860
4   2000-01-07        A -0.109470
..         ...      ...       ...
115 2000-02-07        D -0.725985
116 2000-02-08        D  0.803611
117 2000-02-09        D  0.328141
118 2000-02-10        D -0.772562
119 2000-02-11        D  1.838209

[120 rows x 3 columns]

In [15]:
dframe_piv=dframe.pivot('date','variable','value')
dframe_piv

variable           A         B         C         D
date
2000-01-03  0.184572  0.053737 -0.406671 -0.309442
2000-01-04 -1.056366  1.040259  1.355012 -0.785016
2000-01-05 -0.786261 -0.501182 -0.503818 -0.410783
2000-01-06  0.627860 -0.620959  0.076439  0.649653
2000-01-07 -0.109470 -0.203507 -1.092239 -1.435334
2000-01-10  1.306934 -0.019553  1.144351  0.023384
2000-01-11  0.032612 -0.286980  1.136123  0.749394
2000-01-12  0.665911  0.953087  2.668909  0.147875
2000-01-13  1.192130 -0.255225 -0.857448  0.980765
2000-01-14 -0.092727 -0.760397  1.169205 -0.012440
2000-01-17  1.330690 -0.937682  0.452819  2.316889
2000-01-18  1.319081  0.111925 -0.804174  0.813911
2000-01-19  0.796451 -0.578032 -1.240395 -0.069125
2000-01-20  0.346572 -0.094659 -1.577559  0.495571
2000-01-21 -0.586937  0.331020 -1.166287 -0.115641
2000-01-24 -0.359838  1.399167  0.822282  0.571601
2000-01-25 -1.674307  0.402674  3.012490 -0.434493
2000-01-26 -0.809282  0.182652 -0.694325 -0.205175
2000-01-27 -0.743518  0.387128  0.721934  0.572285
2000-01-28  0.748121 -0.614919 -0.612891 -0.228544
2000-01-31 -0.142755 -2.375681  0.800497 -0.817085
2000-02-01  0.265029 -1.277512 -0.396693  0.991376
2000-02-02 -0.673546  0.531118  0.642419 -0.074855
2000-02-03 -0.304682  0.308988 -1.542710 -0.075064
2000-02-04 -0.247674  1.078108 -0.570988 -0.155952
2000-02-07  0.037456 -0.707138  0.601018 -0.725985
2000-02-08 -0.435691 -1.313447  0.588008  0.803611
2000-02-09 -0.114420 -0.827043  1.612691  0.328141
2000-02-10  0.634748  1.520155 -0.014080 -0.772562
2000-02-11  0.348307  0.366838 -0.379878  1.838209

In [ ]:
dframe_piv